
.clearfix:after{
    content:"";
    height:1px;
    display: block;
    visibility: hidden;
    clear: both;
}

.clearfix{
    　　　　　zoom:1;
}
.upload-selector{
    text-align: center
}

.upload-wrapper, .preview-wraper{
    float:left;
    width: 100px;
    height:100px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

.upload-wrapper{
    padding-top: 30px;
    border: 1px dashed #ccc
}
.upload-stat{
    text-align: center;
}

.preview-wraper{
    float:left;
    width: 100px;
    height:100px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}
.preview-img{
    width: 100px;
    height: 100px;
    display: block;
}
.preview-cancel{
    position: absolute;
    right: 0;
    top: 0;
}
.preview-percent, .preview-refresh{
    position: absolute;
    left: 40%;
    bottom: 40%;
}