<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<input type="file">

<script>
    $(function () {
        $("[type=file]").risenUpload({
            "uploadUrl":'',
            "deleteUrl":'',
            'extraData':{"applyid": 1}
         });
    });

</script>


</body>
</html>